body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

.profile img {
    max-width: 150px;
    border-radius: 50%;
}

.details p {
    font-weight: bold;
}

.github a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 25px;
}
